<div fxLayoutAlign= "center center" fxLayoutGap="15px">
      <mat-card>
        <mat-card-header fxLayoutAlign = "center center">ToDoList</mat-card-header>
          <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <mat-form-field>
              <input (keydown.enter)= "addTodo()"[(ngModel)]= "content" matInput placeholder= "New Todo" type="text">
            </mat-form-field>
             <button mat-raised-button color="accent" (click)= "addTodo()">AddToList</button>
          </mat-card-actions>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor= "let todo of todos$ | async; let i = index">
                  <a matLine [routerLink]="['/todo' , todo.id]"
                  routerLinkActive = "active">{{todo.content}}</a>
                  <mat-checkbox (ngModelChange)="toggleTodo(i)" [(ngModel)]="todo.done"></mat-checkbox>
                  <button mat-icon-button (click)= "deleteTodo(todo.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
        </mat-card>
  </div>
  

  <app-todo-details></app-todo-details>